body {
	background-color: orange;
}

h1 {
	text-align: center;
}

h1 span {
	background-color: black;
	color: yellow;
	border-style: solid;
	border-color: white;
}


#green-box {
	
	width: 120px;
    height: 120px;
    background: green;
    border-color: white;
    border-style: solid
}

#red-box {
	width: 120px;
    height: 120px;
    background: red;
    border-color: white;
    border-style: solid
    
}

#yellow-box {
	width: 120px;
    height: 120px;
    background: yellow;
    border-color: white;
    border-style: solid
    
}

#blue-box {
	width: 120px;
    height: 120px;
    background: blue;
    border-color: white;
    border-style: solid
    
}

#button {
	width: 120px;
	height: 120px;
	color: white;
	font-size: 30px;
	background-color: black;
}

.active {
	border: yellow 5px solid;
}

